.body_articolo {
  background-color: rgb(233, 233, 233);
  animation: change-color-anim 180s linear infinite;
}

.container_articolo {
  margin-top: 80px;
}

.articolo {
  margin-top: 80px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  align-content: center;
}

.header_articolo {
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
}

.wrapper-immagine {
  display: flex;
  justify-content: center;
}

.media_articolo {
  border-radius: 1em;
  width: 80%;
  max-height: 500px;
}

.container_usertext {
  font-size: 2em;
  font-family: sans-serif;
}

.sottotesto {
  font-style: italic;
}

.articolo_icona {
  box-sizing: border-box;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 80px;
  box-shadow: 8px, 8px, 16px, 8px;
}

.testo_articolo {
  font-size: 1.5em;
  font-family: sans-serif;
  font-style: normal;
}

.container-commenta {
  margin-top: 40px;
}

.form-commento {
  font-size: 1em;
}

.commenta-textfield {
  width: 50%;
  height: 4em;
}

.lista-commenti {
  list-style: none;
}

.commento-container {
  margin-top: 40px;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  transition: 0.3s;
  height: 100%;
  width: 50%;
  align-content: center;
  display: block;
}

.commento-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.commento-username {
  font-size: 1.7em;
  font-family: sans-serif;
}

.commento-3rd-row {
  justify-content: right;
}

.altri-commenti-btn {
  align-self: center;
}
