.drop-zone {
  max-width: 150px;
  height: 150px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif; /* da cambiare*/
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  border: 4px dashed #999;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.drop-zone--over {
  border-style: solid;
}
.drop-zone__input {
  display: none;
}
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  padding: 70px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}
.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.my_profile_card_image {
  position: relative;
  margin: 0 auto;
}
.my_profile_card {
  align-items: center;
  position: relative;
  height: 100%;
  /*inserire height 100% per allineare le cards*/
}
.my_profile_card_image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  width: 150px;
  height: 150px;
  border-radius: 0.375rem;
  transition: all 0.15s ease;
  transform: translate(-50%, -30%);
  object-fit: cover;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}
h6 {
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.my_profile_card_image img:hover {
  transform: translate(-50%, -33%);
}
.my_description {
  font-size: 0.875rem;
}
.my_profile_stats {
  padding: 1rem 0;
}
.my_profile_stats > div {
  padding: 0.875rem;
  text-align: center;
}

.my_profile_stats > div:last-child {
  margin-right: 0;
}
.my_profile_stats > div .my_heading {
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1.1rem;
  display: block;
}
.my_profile_stats > div .my_description {
  font-size: 0.875rem;
  color: #adb5bd;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.text-center {
  position: relative;
  margin-bottom: 60px;
}
.col-xl-8 .card-body {
  background-color: lightgray;
}
@media (max-width: 900px) {
  /* Aggiungi una media query per schermi con larghezza massima di 576px (schermi molto piccoli) */
  .my_profile_stats {
    margin-top: 90px; /* Imposta il wrapping degli elementi all'interno di my_profile_stats */
  }
}
.articles_imgs {
  object-fit: cover;
  height: 200px;
  width: 200px;
  left: 15%;
  position: relative;
  margin-top: 5px;
}
.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  display: block;
  margin-bottom: 10px;
}

.my_button {
  border-radius: 40%;
  padding: auto 0;
}
/* Aggiungi una transizione alle proprietà "transform" e "opacity" */
.input-transition {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.5s ease-in-out;
}

/* Imposta la trasformazione iniziale degli input text */
.input-hidden {
  opacity: 0;
  transform: translateY(-20px);
}

/* Imposta la trasformazione finale degli input text */
.input-visible {
  opacity: 1;
  transform: translateY(0);
}
