.margin_divider {
  margin-top: 50px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

.banner_top_g {
  display: block;
  width: 100%;
  margin-top: 50px;
  height: 405px;
  background-position: center;
}

.body_top_g {
  background-color: rgb(233, 233, 233);
}

@keyframes change-color-anim {
  0%,
  100% {
    background-color: rgb(224, 224, 224);
  }
  50% {
    background-color: gold;
  }
}

.article_user_wrapper_top_g {
  font-size: 0.5em;
  border-bottom: ridge;
}

.article_user_text_top_g {
  width: 100%;
}

.article_little_icon_top_g {
  box-sizing: border-box;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 8px, 8px, 16px, 8px;
}

.article_container_top_g {
  margin-top: 50px;
}

.article_top_g {
  top: 20px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 40px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  transition: 0.3s;
}

.article_ul_top_g {
  list-style-type: none;
  padding: 0;
}

.article_text_top_g {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 410px;
  line-clamp: 4;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
}

.article_img_top_g {
  width: 60%;
  height: 100%;
  border-radius: 2em;
  transition: 0.3s ease-in-out;
}

.article_top_g:hover {
  transform: translateY(-5px);
}

.article_heading_top_g {
  display: flex;
  justify-content: left;
  align-items: left;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
  flex-direction: column;
  color: rgb(31, 30, 30);
  font-size: 2.4em;
}
.article_heading_top_g:hover {
  color: rgb(88, 88, 88);
}

.arrow_icons_top_g {
  position: relative;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.arrow_icons_top_g li {
  list-style: none;
}

.arrow_icons_top_g li a {
  font-size: 3em;
  margin: 0 15px;
  color: rgb(0, 0, 0);
  display: inline-block;
  transition: 0.3s;
}

.arrow_icons_top_g li a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .article_img_top_g {
    width: 230px;
    height: 120px;
  }
}
@media screen and (max-width: 500px) {
  .article_img_top_g {
    width: 200px;
    height: 100px;
  }
  .article_heading_top_g {
    font-size: 30px;
  }
}

.header_tag_top_g {
  text-align: center;
  border-bottom-style: ridge;
  transition: 0.3s;
}

.archive_text_top_g {
  margin-top: 10px;
}

.archive_img_top_g {
  position: relative;
  width: 90%;
  height: 60%;
  border-radius: 1em;
  transition: 0.3s;
}
hr {
  width: 100%;
}
.article_user_text_top_g a {
  text-decoration: none;
}
.container-title a {
  text-decoration: none;
  color: aquamarine;
}
