.profile_img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-right: 30px;
}

.heading_profile {
  justify-content: center;
  margin-top: 100px;
}

.username-text {
  font-family: sans-serif;
  font-size: 2em;
}

.my_profile_card_image {
  position: relative;
  margin: 0 auto;
}
.my_profile_card {
  align-items: center;
  position: relative;
  height: 100%;
  /*inserire height 100% per allineare le cards*/
}
.my_profile_card_image img {
  position: absolute;
  left: 50%;
  max-width: 180px;
  width: 150px;
  height: 150px;
  border-radius: 0.375rem;
  transition: all 0.15s ease;
  transform: translate(-50%, -30%);
  object-fit: cover;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}
h6 {
  color: black;
  font-size: 20px;
  font-weight: 300;
}
.my_profile_card_image img:hover {
  transform: translate(-50%, -33%);
}
.my_description {
  font-size: 0.875rem;
}
.my_profile_stats {
  padding: 1rem 0;
}
.my_profile_stats > div {
  padding: 0.875rem;
  text-align: center;
}

.my_profile_stats > div:last-child {
  margin-right: 0;
}
.my_profile_stats > div .my_heading {
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1.1rem;
  display: block;
}
.my_profile_stats > div .my_description {
  font-size: 0.875rem;
  color: #adb5bd;
}

.card-header {
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.text-center {
  position: relative;
  margin-bottom: 60px;
}
.col-xl-8 .card-body {
  background-color: lightgray;
}
@media (max-width: 900px) {
  /* Aggiungi una media query per schermi con larghezza massima di 576px (schermi molto piccoli) */
  .my_profile_stats {
    margin-top: 90px; /* Imposta il wrapping degli elementi all'interno di my_profile_stats */
  }
}
.article_imgs {
  object-fit: cover;
  height: 200px;

  position: relative;
  margin-top: 5px;
}
.card {
  display: flex;
  height: 100%;
  padding: 0 auto;
}
@media (max-width: 1000px) {
  .article_imgs {
    height: 400px;
  }
}

.from-info {
  font-size: 2em;
  font-family: sans-serif;
  margin-left: 20px;
}

.from-text {
  margin-left: 30px;
  font-style: italic;
}

.contacts-info {
  font-size: 2em;
  font-family: sans-serif;
  margin-left: 20px;
}
.contacts-text {
  margin-left: 30px;
  font-style: italic;
}

.follow_button {
  color: white;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #0069d9;
  border: 1px solid;
  border-color: #3399ff;
  border-radius: 3px;
  margin-left: 15px;
  width: 80px;
  position: relative;
  cursor: hand;
}
.follow_button:active {
  animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.follow_button:hover {
  background-color: white;
  color: #0069d9;
}
