.top_news_top_g {
  background-color: rgb(45, 45, 45);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.5rem;
  height: 100%;
  width: 40%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-style: ridge;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-left-style: ridge;
  border-right-style: ridge;
  font-weight: 600;
  position: relative;
}

.most_recent_top_g {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  right: 0rem;
  background-color: rgb(45, 45, 45);
  background-size: contain;
  width: 100%;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;

  margin-left: -5vw;
  background-size: contain;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-style: ridge;
  border-left-style: ridge;
  border-right-style: ridge;
  box-shadow: 0 0 0 0 rgb(45, 45, 45);
}

.container_resized_1_top_g {
  width: 90%;
}

.card_paragraph_top_g {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  max-height: 11.5rem;
  font-size: medium;
  line-height: 2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-size-adjust: auto;
}

.card_top_left_g {
  border-top-left-radius: 1rem;
}
.card_top_right_g {
  border-top-right-radius: 1rem;
}
.card_bottom_left_top_g {
  border-bottom-left-radius: 1rem;
}
.card_bottom_right_top_g {
  border-bottom-right-radius: 1rem;
}
.card_top_g_all {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card_top_g:hover {
  opacity: 0.5;
}

.text_in_card_top_g {
  font-size: larger;
}
.scene_top_g {
  width: 90%;
  max-width: 30em;
  height: auto;
  padding-bottom: 5em;
  perspective: 80em;
}

.carousel_top_g {
  position: absolute;
  width: 20em;

  height: 15em;
  margin: 0 auto;

  transform-style: preserve-3d;
  transition: 1s;
}

.carousel__cell_top_g {
  position: absolute;
  top: 3em;
  width: 20em;
  height: 15em;
}
.carousel__cell_top_g:nth-child(1) {
  transform: rotateY(0deg) translateZ(10em);
}

.carousel__cell_top_g:nth-child(2) {
  transform: rotateY(-270deg) translateZ(10em);
}
.carousel__cell_top_g:nth-child(3) {
  transform: rotateY(180deg) translateZ(10em);
}
.carousel__cell_top_g:nth-child(4) {
  transform: rotateY(270deg) translateZ(10em);
}

.card_cube_top_g {
  display: -webkit-box;
  width: 20em;
  height: 16em;
  position: absolute;
  line-height: 2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-size-adjust: auto;
}

.card_cube_text_top_g {
  font-size: larger;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
}

.img_cube_top_g {
  width: 20em;
  height: 16em;
}

.next,
.prev {
  position: absolute;
  top: 370px;
  right: 0;
  width: 1em;
  border-radius: 3px;
  text-align: center;
  line-height: 3;
  color: rgb(255, 255, 255);
  transform: translateY(-50%);
  cursor: pointer;
}

.next {
  left: 0em;
}

.prev {
  left: 17.5em;
}

.middle_section_top_g {
  background-color: rgb(91, 32, 32);
  margin-top: 85px;
  width: 100%;
  background: linear-gradient(173deg, rgb(80, 26, 26), rgb(50, 50, 50));
}

.middle_section_text_top_g {
  color: rgb(255, 255, 255);
  opacity: 0;
  bottom: -100px;
  position: relative;
  transition: all 1s ease-out;
}

.middle_section_text2_top_g {
  opacity: 0;
  bottom: -100px;
  font-size: 1.7em;
  position: relative;
  transition: all 1s ease-out;
}

.middle_section_bg_top_g {
  background-color: rgb(50, 50, 50);
  width: 100%;
  margin-top: 40px;
}

.footer_bg_top_g {
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.footer_img_top_g {
  height: 15em;
  width: 25em;
  position: relative;
  border-radius: 1em;
  margin-bottom: 10px;
  bottom: -100px;
  opacity: 0;
  transition: all 1s ease-out;
}

.show_top_g {
  opacity: 1;
  bottom: 0px;
}
.my_header_title {
  background-size: cover;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  background-color: black;
}
.my_title {
  color: white;
  font-size: 65px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px #000000;
}
@media screen and (max-width: 720px) {
  .footer_img_top_g {
    margin-top: 10px;
  }

  .scene_top_g {
    margin-left: -150px;
  }
}

@media screen and (max-width: 800px) {
  #cube_container {
    transition: 0.5s ease-out;
    margin-top: 400px;
    position: absolute;
  }
}

@media screen and (max-width: 540px) {
  #cube_container {
    transition: 0.5s ease-out;
    margin-top: 600px;
    position: absolute;
  }
}
