* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("./images/726394.webp") no-repeat;
  background-size: cover;
  background-position: center;
  /* Si usa funzione che cambia i colori */
  animation: animateBg 10s linear infinite;
}
@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}
.login-box {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 450px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(30px);
}
.signup-box {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 400px;
  height: 700px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(30px);
}
h1 {
  color: white;
  text-align: center;
}
.box {
  width: 300px;
  margin: 25px 0;
  border-bottom: 1px solid white;
  position: relative;
}
.box label {
  position: absolute;
  top: 1%;
  left: 5px;
  transform: translateY(
    -50%
  ); /* Necessario sennò si dimentica che ho scritto qualcosa e si riabbassa */
  color: white;
  pointer-events: none;
  transition: 1s;
}
.box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0 35px 0 4px;
}
.box i {
  position: absolute;
  right: 10px;
  color: white;
  line-height: 45px;
}
.box > input:focus ~ label, /* Necessario sennò non si riabbassa */
.box > input:valid ~ label {
  top: -10%;
}
/*:focus seleziona un elemento quando è attualmente in stato di "focus". Ad esempio, 
quando un utente fa clic su un campo di input o lo seleziona utilizzando la tastiera, lo stato di focus viene attivato. 
Questo selettore può essere utilizzato per applicare stili quando l'utente sta interagendo con un elemento.
:valid seleziona un elemento quando il valore inserito in un campo di input è valido. 
Questo selettore è spesso utilizzato in combinazione con l'attributo required di un campo di input.
 Quando l'utente invia il modulo con un valore valido in un campo di input, lo stato di validità viene attivato. 
 Questo selettore può essere utilizzato per applicare stili quando l'utente ha inserito un valore corretto in un campo di input.
*/
.remember-forgot {
  color: white;
  display: flex;
  justify-content: space-between;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 70%;
  background-color: white;
  border-radius: 20px;
  cursor: pointer; /* Compare la manina che bello*/
  color: black;
}
.register-link {
  color: white;
  text-align: center;
  margin: 20px 0 5px;
}
.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.register-link p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 920px) {
  .my_nav-item .nav-link:hover::before {
    visibility: visible;
    width: 15%;
  }
}

@media screen and (min-width: 921px) {
  .my_nav-item .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }
}
